@media screen and (max-width: 729px){
    ul{
        display: none;
    }
    input:checked ~ nav ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-left: 50px;
    }
    li{
        margin-top: 10px;;
    }
    input{
        display: none;
    }
    span, span::before,span::after{
        content: "";
        position: absolute;
        width: 32px;
        height: 4px;
        display: block;
        background-color: black;
        left: 0;
        background: #392a9b;
        background: #360707;
        background: linear-gradient(90deg, rgba(54, 7, 7, 1) 0%, rgba(87, 6, 6, 1) 50%, rgba(74, 10, 10, 1) 100%);
    }
    span::before{
        top: -5px;
    }
    span::after{
        top: 5px;
    }
    input:checked + label > span::before{
        transform: rotate(45deg);
    }
     input:checked + label > span::after{
        transform: rotate(-45deg);
        bottom: 5px;
    }
    input:checked + label > span{
        background: transparent;
    }
    span{
        top: 20px;
        z-index: 10;
    }
    .blockes{
        align-items: center;
        flex-direction: column;
    }
    .about{
        align-items: center;
        flex-direction: column;
    }
    .block-first{
        width: 90%;
    }
    .block-first__img{
        width: 30%;
    }
    .about__section{
        width: 90%;
    }
}