* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.container {
  margin: 0 auto;
  width: 100%;
  background-color: #000000;
  padding: 40px;
}
ul {
  display: flex;
  list-style-type: none;
}
.navigation__list {
  margin-left: 10px;
}
a {
  color: white;
  text-decoration: none;
}
input {
  display: none;
}
.bg-image {
  height: 80vh;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.bg-image__backdrop {
  filter: blur(3px);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/hero_endframe__e4ls9pihykya_xlarge.jpg);
}
h1 {
  text-align: center;
  padding: 20px;
  position: absolute;
  z-index: 20;
  left: 40%;
  top: 200px;
  color: white;
}
.bg-image__text {
  text-align: center;
  padding: 20px;
  position: absolute;
  z-index: 20;
  left: 37%;
  top: 270px;
  color: white;
}
.bg-image__button {
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10%;
  border: none;
  background: #4c59b0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 1%, rgba(43, 48, 54, 1) 52%, rgba(0, 0, 0, 1) 99%);
  position: absolute;
  z-index: 20;
  left: 44%;
  top: 340px;
  color: white;
}
.navigation__list--red{
  background: #4f1111;
  background: linear-gradient(90deg, rgba(79, 17, 17, 1) 0%, rgba(51, 17, 17, 1) 50%, rgba(105, 21, 21, 1) 100%);
  margin-left: 10px;
}
.blockes{
	width: 100%;
	display: flex;
  padding: 20px 0;
  justify-content: space-between;
}
.block-first{
	width: 20%;
	height: 35vh;
	display: flex;
  justify-content: center;
	flex-direction: column;
	box-shadow:  0px 5px 35px 0px #690909;
	-webkit-box-shadow: 0px 5px 35px 0px #690909;
	-moz-box-shadow: 0px 5px 35px 0px #690909;
}
.block-first__text{
	color: aliceblue;
  text-align: center;
}
.block-first__img{
	width: 70%;
  margin: 0 auto;
}
.block-first__title{
  color: aliceblue;
  text-align: center;
}
.news{
  width: 100%;
  background-color: #0a0a0a;
}
.news__title{
  color: white;
}
.about__section{
  width: 35%;
  height: 27vh;
  background-color: #0a0909;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.about__section__text{
  color: white;
  text-align: center;
}
.about__section__title{
  color: white;
  text-align: center;
}
.news__title{
  text-align: center;
}
.about{
  width: 100%;
  display: flex;
}
.about__section:hover{
  transform: scale(1.2);
  transition: 1s ease;
  box-shadow: -4px 0px 122px 0px rgba(151, 15, 15, 0.75);
  -webkit-box-shadow: -4px 0px 122px 0px rgba(147, 27, 27, 0.75);
  -moz-box-shadow: -4px 0px 122px 0px rgba(132, 23, 23, 0.75);
}
.about-gadget{
  background-color: #0a0909;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.line{
  width: 100%;
  height: 1px;
  background-color: #690909;
  margin-top: 20px;
}
.line-second{
  width: 100%;
  height: 1px;
  background-color: #690909;
}
.about-gadget>h2{
  text-align: center;
  color: aliceblue;
}
.about-gadget>p{
   text-align: center;
   color: aliceblue;
}
.footer{
  padding-top: 20px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  background-color: #0a0909;
}
.footer>p{
  text-align: center;
  color: aliceblue;
}